.footer {
  background-color: $color-dark;
  color: rgba($color-default-white, 0.7);
  padding: 0 50px;
}

.footer__container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 50px 0 55px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__links {
  margin-right: 129px;
}

.footer__logo {
  display: block;
  margin-bottom: 35px;
}

.footer__socials {
  margin: 0 0 0 15px;
}

.footer__nav,
.footer__contacts {
  padding-top: 7px;
}

.footer__title {
  margin: 0 0 20px;
  font-size: 15px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-default-white;
}

.footer__contacts {
  max-width: 345px;
}

.footer__address {
  font-style: normal;
  margin-bottom: 6px;
}

.footer__phones {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.footer__phone {
  margin-bottom: 6px;
}

.footer__phone-link {
  color: rgba($color-default-white, 0.7);

  @include hover-focus {
    color: $color-default-white;
  }
}

.footer__accordeon {
  display: none;
}

@include vp-1023 {
  .footer {
    padding: 0;
  }

  .footer__container {
    padding: 50px 25px 65px 50px;
  }

  .footer__links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    margin-bottom: 37px;
    padding-right: 20px;
  }

  .footer__logo {
    margin-bottom: 0;
  }

  .footer__socials {
    margin: 0 5px 5px;
    align-items: center;
  }

  .footer__contacts,
  .footer__nav {
    padding-top: 0;
  }
}

@include vp-767 {
  .footer__container {
    padding: 33px 0 35px;
    flex-direction: column;
  }

  .footer__links {
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 0;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color-white-accent, 0.7);
    }
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__socials {
    margin-bottom: 22px;
  }

  .footer__nav {
    padding: 20px 25px 0;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color-white-accent, 0.7);
    }

    .footer__title {
      margin-bottom: 25px;
    }
  }

  .footer__content {
    max-height: 0;
    overflow: hidden;
  }

  .footer__accordeon {
    display: block;
    position: absolute;
    right: 26px;
    top: 20px;
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;


    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-white-accent;
      position: absolute;
      top: 50%;
      left: 0;
    }

    &::before {
      transform: rotate(90deg);
    }

    &--active {
      &::before {
        content: none;
      }
    }
  }

  .footer__contacts {
    padding: 20px 25px 0;
    max-width: none;
    position: relative;
    font-size: 14px;
    line-height: 19px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color-white-accent, 0.7);
      margin-top: 20px;
    }

    .footer__title {
      margin-bottom: 20px;
    }
  }

  .footer__address {
    margin-bottom: 20px;
  }

  .footer__phone {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
}
