.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 30px;

  &--modal {
    display: flex;
    flex-direction: column;
  }
}

.form__field {
  display: flex;

  &--textarea {
    grid-column: 1 / 3;
  }

  &--checkbox {
    align-items: flex-end;
    padding-left: 7px;
  }
}

.form__field label {
  width: 100%;
  display: flex;
  align-items: center;
}

.form__field input,
.form__field textarea {
  width: 100%;
  border: none;
  background-color: rgba($color-dark, 0.15);
  padding: 15px;
  color: $color-default-white;

  &::placeholder {
    color: $color-default-white;
  }

  @include hover-focus {
    background-color: rgba($color-dark, 0.5);
  }
}

.form__field textarea {
  min-height: 155px;
  margin-bottom: 15px;
  padding-top: 25px;
}

.form__button {
  letter-spacing: 1px;
  line-height: 18.75px;
  width: 95%;
}

@include vp-1023 {
  .form__button {
    width: 265px;
  }

  .form__field textarea {
    padding-top: 32px;
  }

  .form__field--checkbox {
    padding-left: 0;
    align-items: center;
  }
}

@include vp-767 {
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form__field textarea {
    min-height: 180px;
    margin-bottom: 10px;
    padding-top: 25px;
  }

  .form__field--checkbox {
    padding-left: 5px;
  }

  .form__button {
    margin-bottom: 5px;
    width: 100%;
  }
}
