.social-list {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social-list__item {
  &:not(:last-child) {
    margin-right: 25px;
  }
}

.social-list__link {
  width: 30px;
  height: 30px;

  @include hover-focus {
    opacity: 0.8;
  }
}

.social-list__icon {
  fill: $color-white-accent;
}
